html {
  font-size: 125%;
  background-color: black;
}

.logo-container {
  position: relative;
  max-width: 20%;
  left: 0px;
  img {
    max-width: 100%;
    display: block;
    filter: opacity(0.8) contrast(70%) drop-shadow(0 0 0 white) saturate(1000%);
  }
}
